body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Barra vertical a la izquierda */
.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;       /* ancho */
    min-width: 100px;
    height: 100vh;       /* toda la altura */
    background: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.toolbar button {
    background: none;
    border: none;
    color: #fff;
    margin: 15px 0;
    font-size: 22px;
    cursor: pointer;
    transition: color 0.3s;
}

.toolbar button:hover {
    color: skyblue;
}

/* Contenido al costado de la barra */
.content {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    padding-left: 11%;
    box-sizing: border-box;
}

.content > * {
    width: 50%;
}

#formAgregarUsuario {
    display: flex;
    flex-direction: column;
    input {
        margin-bottom: 0.5rem;
    }
    select {
        margin-bottom: 1rem;
    }
}

#formEliminarUsuario {
   display: flex;
   flex-direction: column;
   input {
       margin-bottom: 0.5rem;
   }
   select {
       margin-bottom: 1rem;
   }
}