#header 
{ 
    width: 100%;
    height: 130px;
    background-color: #1c1c1cd6;
    padding: 0!important;
    box-sizing: border-box;
    display: block;
    z-index: 3;
}

#header>nav 
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px !important;
    box-sizing: border-box;
}

#header>div 
{
    height:30px;
    width: 100%;
    background-color: #272727ad;
    padding: 0 25px !important;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    gap:10px
} 

#header>div>p 
{
    padding: 0;
    color: white;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#header>nav>ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 14px;
} 

#header>nav>ul>li>a 
{
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*logo*/
#header>nav>img 
{
    height: 65%;
} 

#header ul>li:last-child>a>div 
{
    background: blue;
    width: 40px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 700;
    font-size: 18px;
}