.portada_ab 
{
    width: 100%;
    height: calc(70vh - 130px);
    display:flex;
    justify-content: center;
    align-items: flex-end;
    background-color: whitesmoke;
    position: relative;
}

.portada_ab>p
{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #1d1d1d;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.textos_ab 
{
    display:flex;
    flex-direction: column;
    position: relative;
}

.textos_ab>div 
{
    width:100%;
    height: 380px;
    display:grid;
    grid-template-columns: 35% 65%;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
}

.textos_ab>div:first-child
{
    background-color: darkcyan;
}

.textos_ab>div:nth-of-type(2)
{
    background-image:url("https://st2.depositphotos.com/1518767/7633/i/450/depositphotos_76338787-stock-photo-team-of-doctors-and-businesswoman.jpg");
    background-position: center;
    background-size: cover;
}

.textos_ab>div>div>p 
{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.textos_ab>div>div:first-child>p 
{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color:white;
}

.textos_ab>div>.fondo 
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    z-index: 1;
}

.textos_ab>div>div:not(.fondo)
{
    position: relative;
    z-index: 2;
}
.textos_ab>div:last-child
{
    background-color: grey;
}

.galeria_ab 
{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 5px;
}

.galeria_ab>div
{
    width: 25%;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    justify-content: center;
}

.galeria_ab>div>img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale();
}

.galeria_ab>div>p 
{
    position: absolute;
    bottom: 0;
    color: white;
    font-family: system-ui;
    font-weight: 700;
}
.sedes-container {
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.sedes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1600px;
    margin: 0 auto;
}

.sede-card {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.sede-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #00a896;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.sede-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.sede-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.sede-card p i {
    font-size: 16px;
}

.btn-ubicacion {
    display: inline-block;
    background-color: #00a896;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.btn-ubicacion:hover {
    background-color: #007a6e;
}

/* Font-Awesome like icons */
@font-face {
  font-family: 'FontAwesome';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
       url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
       url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
       url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
       url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-location:before {
    font-family: FontAwesome, sans-serif;
    content: "\f041";
}

.icon-clock:before {
    font-family: FontAwesome, sans-serif;
    content: "\f017";
}

.icon-phone:before {
    font-family: FontAwesome, sans-serif;
    content: "\f095";
}