.portada_ab 
{
    width: 100%;
    height: calc(100vh - 130px);
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    position: relative;
}

.portada_ab>p 
{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #1d1d1d;
}

.textos_ab 
{
    display:flex;
    flex-direction: column;
    position: relative;
}

.textos_ab>div 
{
    width:100%;
    height: 380px;
    display:grid;
    grid-template-columns: 35% 65%;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
}

.textos_ab>div:first-child
{
    background-color: darkcyan;
}

.textos_ab>div:nth-of-type(2)
{
    background-image:url("https://st2.depositphotos.com/1518767/7633/i/450/depositphotos_76338787-stock-photo-team-of-doctors-and-businesswoman.jpg");
    background-position: center;
    background-size: cover;
}

.textos_ab>div>div>p 
{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.textos_ab>div>div:first-child>p 
{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color:white;
}

.textos_ab>div>.fondo 
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    z-index: 1;
}

.textos_ab>div>div:not(.fondo)
{
    position: relative;
    z-index: 2;
}
.textos_ab>div:last-child
{
    background-color: grey;
}

.galeria_ab 
{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 5px;
}

.galeria_ab>div
{
    width: 25%;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    justify-content: center;
}

.galeria_ab>div>img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale();
}

.galeria_ab>div>p 
{
    position: absolute;
    bottom: 0;
    color: white;
    font-family: system-ui;
    font-weight: 700;
}