body {
    margin: 0; 
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* PRESET DESKTOP TABLET Y MOBILE

/* Mobile (nombre secion) */

/* Cuando haya mas de 1000px (vista desktop) */
/*
@media (min-width: 1000px) {

}

/* Cuando haya menos de 1000px (vista tablet) */
/*
@media (max-width: 1000px) {

}

/* cuando haya menos de 600px (vista mobile) */
/*
@media (max-width: 600px) {

}



/* (ALGUNOS DE LOS BORDER SON PARA VISUALIZACION LUEGO SE QUITAN YA QUE ES ESTRUCTURA FUNDAMENTAL) */
/* Comienza header */

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0,8);
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(3px);
}
header > div.buttons-header {
    height: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 2rem;
    padding-right: 5%;
}

header > div > .links-header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

header > div > .links-header > a {
    text-decoration: none;
    color: white;
}

header > div > .links-header> a:hover {
    color: skyblue;
}

header > nav.logo-header {
    height: 100%;
    position: absolute;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: white;
    box-sizing: border-box;
}

header > nav.logo-header > img {
    height: 3rem;
    aspect-ratio: 3/1;
}

/* Mobile Header */

/* Cuando haya mas de 1000px (vista desktop) */

@media (min-width: 1000px) {
    .mobile-buttons-header * {
        display: none;
    }
    .buttons-header {
        display: flex;
    }
}

/* Cuando haya menos de 1000px (vista tablet) */

@media (max-width: 1000px) {
    header > nav.logo-header > img {
    width: 10rem;
    }
    .buttons-header {
        display: none;
    }
    .mobile-buttons-header {
        display: block;
    }
    .mobile-header-view {
        width: 20rem;
        font-size: 1.2rem;
    }
}

/* cuando haya menos de 600px (vista mobile) */

@media (max-width: 600px) {
    .mobile-header-view {
        width: 10rem;
        font-size: 1rem;
    }
}

/* Menú hamburguesa Tratamientos */

#tratamientos-toggle {
    display: none;
}

.tratamientos-view {
    display: none;
    position: absolute;
    border: #666 solid 1px;
    padding: 1rem;
}

.tratamientos-view > a {
    text-decoration: none;
    color: #444;
}
.tratamientos-view > a:hover {
    color: #4169E1;
    
}

.tratamientos-menu {
    width: 100%;
}

.tratamientos-menu > label {
    color: white;
}


.tratamientos-menu > label:hover {
    color: skyblue;
    cursor: pointer;
}

#tratamientos-toggle:checked + label + .tratamientos-view {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 0.5rem;
}

/*Menú hamburguesa de mobile*/

#mobile-header-toggle {
    display: none;
}

.mobile-header-view {
    display: none;
    position: absolute;
    border: #666 solid 1px;
    padding: 1rem;
    transform: translateX(-80%);
}

.mobile-header-view > nav > a {
    text-decoration: none;
    color: #444;
}
.mobile-header-view > nav > a:hover {
    text-decoration: none;
    color: #4169E1;
}

.mobile-buttons-header > label {
    color: white;
}
.mobile-buttons-header > label > svg {
    color: white;
    align-self: start;
    width: 2.5rem;
    background-color: #333;
    border-radius: 10px;
}

.mobile-buttons-header > label:hover {
    color: gray;
}

#mobile-header-toggle:checked + label + .mobile-header-view {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    gap: 0.5rem;
}

/*Menú de tratamientos mobile*/

.tratamientos-menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tratamientos-view-mobile {
    width: 95%;
    display: none;
    position: relative;
    padding: 0.5rem 0;
    align-self: center;
}

.tratamientos-view-mobile > a {
    border-bottom: 1px solid black;
    text-decoration: none;
    color: #444;
}
.tratamientos-view-mobile > a:hover {
    color: #4169E1;
}

.tratamientos-menu-mobile > label {
    color: #444;
}
.tratamientos-menu-mobile > label:hover {
    color: #4169E1;
}

#tratamientos-toggle-mobile {
    display: none;
}

#tratamientos-toggle-mobile:checked + label + .tratamientos-view-mobile {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 0.5rem;
}

/*Controlador del menú */

#toggle-menu {
    display: none;
}

/*Boton de Menú */

.menu-btn {
    background-color: #333;
    border: none;
    color: white;
    padding: 1.2rem 1.25rem;
    border-radius: 10px;
    cursor: pointer;
}

/* Ventana del menú */

.menu-ventana {
    display: none;
    position: absolute;
    top: 5rem;
    right: 2.5rem;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 10px;
    width: 180px;
    opacity: 90%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}

.menu-ventana a {
    text-align: center;
    display: block;
    padding: 12px 16px;
    color: white;
    text-decoration: none;
}

.menu-ventana a:hover {
  background-color: #333;
  border-radius: 10px;
}

/*Mostrar el menú */

#toggle-menu:checked + label + .menu-ventana {
    display: block;
}

/*Termina el menú de Perfil*/
/* Termina header */
/* ---------------------------------- */
/* Comienza primera sección: #hero-main */
.parallax {
    background-image: url('../img/hero.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#hero-main {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

section#hero-main > article {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
    padding: 1.5rem;
    font-weight: 100;
    background-color: #1e1e1e;
    opacity: 0.6 !important;
    border-radius: 10px;
    margin-left: 10%;
    & * {
        margin: 0;
    }
}


section#hero-main > img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    object-fit: cover;
    z-index: 0;
    box-sizing: border-box;
    position: absolute;
}
 
/* Mobile hero */

/* Cuando haya mas de 1000px (vista desktop) */

@media (min-width: 1000px) {
    section#hero-main > article > h1 {
    font-size: 1.5rem;
    }

    section#hero-main > article > p {
        font-size: 1rem;
    }

}

/* Cuando haya menos de 1000px (vista tablet) */

@media (max-width: 1000px) {
    section#hero-main {
        justify-content: center;
    }
    section#hero-main > article {
        margin: 0;
    }
    section#hero-main > article > h1 {
    font-size: 2rem;
    }

    section#hero-main > article > p {
        font-size: 1.25rem;
    }
}

/* cuando haya menos de 600px (vista mobile) */

@media (max-width: 600px) {
    section#hero-main {
        justify-content: center;
    }
    section#hero-main > article {
        margin: 1rem;
    }
    section#hero-main > article > h1 {
    font-size: 1.5rem;
    margin: 0;
    }

    section#hero-main > article > p {
        font-size: 1rem;
    }

}

@media (max-width: 400px) {
    section#hero-main > article > h1 {
    font-size: 1.5rem;
    margin: 0;
    }

    section#hero-main > article > p {
        font-size: 0.8rem;
    }

}


/* Termina primera sección: #hero-main */
/* ---------------------------------- */
/* Comienza segunda sección: #second-section-main */


section#second-section-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: rgb(245, 245, 220) ;
    padding: 3rem;
}

section#second-section-main > div.articles-second-section1 {
    height: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    gap: 3rem;
    padding: 1rem;
    aside {
        img {
            width: 100%;
            position: relative;
            border-radius: 50% 5% 50% 5%;
            aspect-ratio: 1.5/1;
        }
    }
}
section#second-section-main > div.articles-second-section2 {
    height: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 3rem;
    padding: 1rem;
    aside {
        img {
            width: 100%;
            position: relative;
            border-radius: 5% 50% 5% 50%;
            aspect-ratio: 1.5/1;
        }
    }
}

section#second-section-main > div.articles-second-section1 > article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 1.5rem;
}

section#second-section-main > div.articles-second-section1 > aside {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
section#second-section-main > div.articles-second-section2 > article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 1.5rem;
}

.second-section1-text {
    text-wrap: pretty;
    margin: 0;
}
.second-section2-text {
    text-wrap: pretty;
    margin: 0;
}

section#second-section-main > div.articles-second-section2 > aside {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}



/* Mobile second section */

/* Cuando haya mas de 1000px (vista desktop) */

@media (min-width: 1000px) {
    section#second-section-main {
        gap: 2.5rem;
    }
    section#second-section-main > div.articles-second-section1 {
        article {
            font-size: 1.5rem;
        }
    }
    section#second-section-main > div.articles-second-section2 {
        article {
            font-size: 1.5rem;
        }
    }
}

/* Cuando haya menos de 1000px (vista tablet) */

@media (max-width: 1000px) {
    section#second-section-main {
        gap: 3rem;
    }
    section#second-section-main > div.articles-second-section1 {
        article {
            font-size: 1.25rem;
        }
    }
    section#second-section-main > div.articles-second-section2 {
        article {
            font-size: 1.25rem;
        }
    }
}

/* cuando haya menos de 600px (vista mobile) */

@media (max-width: 600px) {
    section#second-section-main {
        gap: 3rem;
    }
    section#second-section-main > div.articles-second-section1 {
        flex-direction: column-reverse;
        article {
            font-size: 1rem;
        }
    }
        section#second-section-main > div.articles-second-section2 {
        flex-direction: column;
        article {
            font-size: 1rem;
        }
    }
}


/* Termina segunda sección: #second-section-main */
/* ---------------------------------- */
/* Comienza transicion de sección: .section-transition */

/* Termina transicion de sección: .section-transition */
/* ---------------------------------- */
/* Comienza tercera sección: #grid-section-main */

section#grid-section-main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(245, 245, 220) ;
}

section#grid-section-main > div.article-container {
    width: 100%;
    max-width: 1500px;
    height: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vh;
    padding: 1rem;
    gap: 3rem;
    box-sizing: border-box;
}

section#grid-section-main > div.article-container > article {
    min-width: 25%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
        grid-column: span 1;
        grid-row: span 1;
        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            aspect-ratio: 1/1;
        }
        h3 {
            display: flex;
            justify-content: center;
            white-space: nowrap;
            color: #4169E1;
            padding-bottom: 0.5rem;
            box-sizing: border-box;
            margin: 0;
        }
}

section#grid-section-main > div.article-container > article > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    white-space: nowrap;
}


/* PRESET DESKTOP TABLET Y MOBILE

/* Mobile #grid-section-main */

/* Cuando haya mas de 1000px (vista desktop) */

@media (min-width: 1000px) {
    section#grid-section-main > div.article-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        min-width: 1000px;
    }
}

/* Cuando haya menos de 1000px (vista tablet) */

@media (max-width: 1000px) {
    section#grid-section-main > div.article-container {
        padding-top: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
}

/* cuando haya menos de 600px (vista mobile) */

@media (max-width: 600px) {
    section#grid-section-main > div.article-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 100%;
        gap: 1.5rem;
        margin-top: 5vh;
    }
    section#grid-section-main > div.article-container > article {
        height: auto;
        width: auto;
        justify-self: center;
    }
}



/* Comienza transicion de sección: .section-transition */
/* NO HAY CÓDIGO DEBIDO A QUE ESTA HECHO MAS ARRIBA (LINEA 120-126) */

/* Termina transicion de sección: .section-transition */
/* ---------------------------------- */
/* Comienza cuarta sección: #fourth-section-main */



/* Termina cuarta sección: #fourth-section-main */
/* ---------------------------------- */
/* Comienza quinta sección: #registro-button-section-main */

.registro-button-section-main {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
}

.registro-button-section-main > div.upper-background {
    width: 100%;
    height: 100%;
    display: flex;
}

.registro-button-section-main > button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    border: 10px;
    border-radius: 2rem;
    box-sizing: border-box;
    white-space: nowrap;
}
.registro-button-section-main > button:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background-color: rgb(0,0,0,0.6);
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    box-sizing: border-box;
}
/* Mobile registro-button-section-main */

/* Cuando haya mas de 1000px (vista desktop) */

@media (min-width: 1000px) {
    .registro-button-section-main {    
        right: 1.5rem;
        bottom: 1.5rem;
    }

    .registro-button-section-main > button {
        height: 2rem;
        width: 100%;
        gap: 10px;
        svg {
            width: 1rem;
            aspect-ratio: 1/1;
        }
    }
}

/* Cuando haya menos de 1000px (vista tablet) */

@media (max-width: 1000px) {
    .registro-button-section-main {
        right: 1.5rem;
        bottom: 5rem;
    }

    .registro-button-section-main > button {
        height: 2rem;
        width: 100%;
        gap: 10px;
        svg {
            width: 1rem;
            aspect-ratio: 1/1;
        }
    }
}

/* cuando haya menos de 600px (vista mobile) */

@media (max-width: 600px) {
    .registro-button-section-main {
        right: 1.5rem;
        bottom: 5rem;
        height: 3rem;
    }

    .registro-button-section-main > button {
        height: 70%;
        width: 100%;
        gap: 10px;
        svg {
            width: 1rem;
            aspect-ratio: 1/1;
        }
    }

}


/* Termina quinta sección: #registro-button-section-main */
/* ---------------------------------- */
/* Comienza footer */

footer {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    box-sizing: border-box;
    gap: 2.5rem;

    * {
        font-family: 'Karla', sans-serif;
    }

}

#footer1 {
    width: auto;
    height: auto;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 1rem;
    div{
        gap: 0.25rem;
        display: flex;
        box-sizing: border-box;
    }
    p{
        color: white;
    }
}

.upper-footer1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px white;
}


.footer1_sup_img{
    width: 50%;
    height: auto;
}

.footer1_sup-links{
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    gap: 0.8rem !important;
    img{
        height: 2rem;
    }
}

.middle-footer1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    * {
        margin: 0;
        text-decoration: none;
        color: white;
    }
    div{
        width: 50%;
        flex-direction: column;
    }
}

.text-apart-middle-footer {
    padding: 2rem 0;
    font-weight: bold;
}

.lower-footer1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-top: solid 1px white;

    * {
        margin: 0;
    }

    nav {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

.bottom-footer-icons {
    height: 1.5rem;
    width: auto;
}

#footer2 {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    margin: 1rem 0;
    padding: 2rem;
    gap: 0.5rem;
}

.agendate-formulario {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-sizing: border-boxs;
}

.grid-agendate {
    display: grid;
    gap: 0.5rem;
    padding: 0;
    border: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
}

.footer-agendate-titulo {
    margin: 0;
    font-family: 'Poppins';
    color: white;
    margin: 0 2px;
}

.agendate-input-chico {
    grid-column: span 1;
    grid-row: span 1;
    background-color: #444;
    color: white;
    border: black;
    padding: 0.5rem;
}

.agendate-input-text {
    grid-column: span 2;
    grid-row: span 2;
    background-color: #444;
    color: white;
    border: black;
    padding: 0.5rem;
    resize: none;
}

.agendate-input {
    grid-column: span 2;
    grid-row: span 1;
    background-color: #444;
    color: white;
    border: black;
    padding: 0.5rem;
}

.agendate-enviar-button {
    width: 25%;
    background-color: #303030;
    border: solid 1px white;
    color: white;
    padding: 0.5rem;
    margin: 0 2px;
    box-sizing: border-box;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: white;
        color: black;
        border: solid 1px black;
        transition: 0.3s;
    }

    svg {
        height: 1rem;
    }
}

/* Comienza footer mobile */

/* Cuando haya mas de 1000px (vista desktop) */

@media (min-width: 1000px) {
    #footer1 {
        min-width: 420px;
    }
}

/* Cuando haya menos de 1000px (vista tablet) */

@media (max-width: 1000px) {
    footer {
        flex-direction: column-reverse;
    }
    #footer1 {
        width: 80%;
    }
    #footer2 {
        border: none;
        min-width: 550px;
    }
}

/* cuando haya menos de 600px (vista mobile) */

@media (max-width: 600px) {
    #footer2 {
        padding: 1rem 0;
        border: none;
        min-width: 0;
    }

    .grid-agendate {
        * {
            padding: 0.5rem 0;
        }
    }
}

/* Termina footer */

/* Grid Tratamientos web */

#Tratsweb{
    background-color: rgb(245, 245, 220);
    margin-top: 10vh;
    padding: 2rem;
}

.grid-tratamientos {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
    box-sizing: border-box;
    font-family: 'Poppins';
    padding: 0 5rem;
}

.text-tratamientos-web{
    width: 50%;
}

.Tratlinks{
    grid-column: span 1;
    grid-row: span 1;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 220);
    flex-direction: row;
    display: flex;
    border: 1px solid #444;
    border-radius: 20px;
    border-color: #1e1e1e;
    text-decoration: none;
    div{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        padding: 1.5rem;   
        color: #1e1e1e;
        h2 {
            margin: 0;
            text-wrap: balance;
        }
    }
    button {
        width: 80%;
        height: 1.5rem;
        color: white;
        border: solid 1px black;
        background-color: black;
        border-radius: 5px;
        transition: 0.2s;
    }
    button:hover {
        border: solid 1px black;
        background-color: white;
        color: black;
    }
}

.Tratlinksbot{
    text-decoration: none;
    color: #1e1e1e;
}


/* Termina Tratamientos web */

/* Mobile Tratamientos web */

/* Cuando haya mas de 1000px (vista desktop) */

@media (min-width: 1400px) {
    .grid-tratamientos {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

/* Cuando haya menos de 1400px (vista laptop) */

@media (max-width: 1400px) {
    .grid-tratamientos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

/* Cuando haya menos de 1000px (vista tablet) */

@media (max-width: 1000px) {
    .grid-tratamientos {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

/* cuando haya menos de 600px (vista mobile) */

@media (max-width: 600px) {
    .grid-tratamientos {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}


/* Tratamientos */
/* Tratamientos primera plantilla */

#SectionTrat-plantilla1{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 10vh;
    background-color: black;
    .background-alineadoresinvisibles {
        width: 100%;
        height: 100%;
        object-fit: fill;
        position: absolute;
        z-index: 1;
        opacity: 0.3;
        top: 0;
        left: 0;
    }
}

.trat-imagen-plantilla1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    height: 60%;
    z-index: 2;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }
    h1 {
        position: absolute;
        z-index: 1;
        font-family: 'Poppins';
    }
}

.trat-info-divs-plantilla1 {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    width: 15%;
    height: 60%;
    padding: 3rem;
    font-family: 'Karla', sans-serif;
    font-size: 0.8rem;
    text-align: left;
    svg {
        width: 3rem;
    }
    p {
        min-height: 150px;
    }
}

.color-div1-plantilla1 {
    background-color: #1C1917;
}

.color-div2-plantilla1 {
    background-color: #292524;
}

.color-div3-plantilla1 {
    background-color: #57534D;
}

/* Mobile Tratamientos */

/* Cuando haya mas de 1000px (vista desktop) */

@media (min-width: 1000px) {
    .SectionTrat {
        flex-direction: row;
    }
    .Trat1sec1 {
        width: 50%;
    }
    .Trat1sec2 {
        width: 50%;
    }
}

/* Cuando haya menos de 1000px (vista tablet) */

@media (max-width: 1000px) {
    .SectionTrat {
        flex-direction: column;
        height: auto;
    }
    .Trat1sec1 {
        flex-direction: row;
        width: 95%;
        p {
            width: 50%;
            padding: 0.5rem;
            padding-bottom: 1rem;
            font-size: 1rem;
            box-sizing: border-box;
        }
        img {
            width: 60%;
        }
    }
    .Trat1sec2 {
        flex-direction: row;
        width: 95%;
        p {
            width: 50%;
            padding: 0.5rem;
            padding-bottom: 1rem;
            box-sizing: border-box;
        }
        img {
            width: 60%;
        }
    }
}

/* cuando haya menos de 600px (vista mobile) */

@media (max-width: 600px) {
    .Trat1sec1 {
        flex-direction:column-reverse;
        width: 90%;
        p{
        width: 85%;
        margin: 0;
        padding: 1rem;
        padding-top: 2rem;
        box-sizing: border-box;
        font-size: 0.8rem;
        }
        img {
            width: 80%;
        }
    }
    .Trat1sec2 {
        flex-direction: column;
        width: 90%;
        p{
            width: 85%;
            margin: 0;
            padding: 1rem;
            padding-bottom: 2rem;
            box-sizing: border-box;
            font-size: 0.8rem;
        }
        img {
            width: 80%;
        }
    }
}

/* Contacto */

.sectionContact1{
    width: 100%;
    display: flex;
}
.info_Contact1{
    margin-top: 20dvh;
    gap: 5px;
    margin-left: 20dvh;
    justify-content: center;
    width: 60%;
    display: flex;
    flex-direction: column;
        input{
            height: 5dvh;
            border-top: none;
            border-left: none;
            border-right: none;
            border-color: rgba(0, 0, 0, 0.8);
            border-radius: 5px;
            padding-left: 2dvh;
            font-family: 'Karla';
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
        }
        textarea{
            height: 10dvh;
            border-top: none;
            border-left: none;
            border-right: none;
            border-color: rgba(0, 0, 0, 0.8);
            border-radius: 5px;
            padding-left: 2dvh;
            max-width: 100%;
            min-width: 50%;
            max-height: 300px;
            min-height: 50px;
            font-family: 'Karla';
            padding-top: 1dvh;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
        }
        input:focus{
            outline: none;
            border-color: #4169E1;
        }
        textarea:focus{
            outline: none;
            border-color: #4169E1;
        }
}
.info_Contact2 {
    width: 40%;
    margin-top: 20dvh;
    margin-left: 10dvh;
}
.sectionContact2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    gap: 60px;
    padding: 1rem;
}
.sectionContact3{
    padding: 1rem;
    box-sizing: border-box;
    gap: 60px;
}
#map {
    align-items: center;
    height: 400px;
    width: 90%;
    border-radius: 20px;
    border: 2px;
    border-color: gray;
    z-index: 1;
}
.Titulo{
    margin-top: 10vh;
    text-align: center;
    width: 300px;
    justify-self: center;
}
.SelMap{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
}

.slider{
    display: flex;
    justify-content: center;
    position: relative;
    width: 90%;
    height: auto;
    overflow: hidden;
}
.contactSliderB{
    flex: 0 0 calc(100% / 5);
    width: 180px; 
    color: white;
    border: none;
    outline: none;
    background: #1C1917;
    border-radius: 3px;
    height: 180px;
    cursor: pointer;
    text-align: center;
}


.slides{
    gap: 10px;
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%;

}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev { left: 10px; }
.next { right: 10px; }



.SelMap > button:hover{
    cursor: pointer;
    color: skyblue;
}
.ImgClinicas{
    display: flex;
    flex-direction: row;
    img{
    border-radius: 5px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    }
}


/* Mobile Sobre Nosotros */

/* Cuando haya mas de 1000px (vista desktop) */

@media (min-width: 1000px) {

}

/* Cuando haya menos de 1000px (vista tablet) */

@media (max-width: 1000px) {
    .sectionSobreN1 {
        flex-direction: column;
        width: 100%;
    }
    .sectionSobreN2 {
        flex-direction: column;
        width: 100%;
    }
}

/* cuando haya menos de 600px (vista mobile) */

@media (max-width: 600px) {
    .sectionSobreN1 {
        flex-direction: column;
    }
    .sectionSobreN2 {
        flex-direction: column;
    }
}


/*  Login  */

.login{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background: linear-gradient(53deg, rgba(46, 46, 46, 1) 0%, rgba(33, 197, 222, 1) 84%);
}
.login_back{
    margin-left: 50dvh;
    display: flex;
    position: absolute;
    z-index: 0;
    justify-content: center;
    width: 50%;
    height: 50dvh;
    opacity: 0.4;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
}
.login_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    z-index: 1;
}
.login_actual_loc{
    color: black;
}
.hover-efect:hover{
    cursor: pointer;
    color: aqua;
    transition: color 0.5s ease;
}
.hover-efect{
    color: white;
}
.login_box2{
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    align-items: center;
        input{
            border: none;
            background: rgba(0, 0, 0, 0.6);
            height: 5dvh;
            width: 40dvh;
            color: white;
            padding-left: 1dvh;
            transition: background-color 0.3s ease;
        }
        input::placeholder{
            color: whitesmoke;
            font-family: 'Roboto';
        }
        input:focus {
            outline: none;
            background-color: rgba(0, 0, 0, 0.9);
        }
        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(1);
            border-radius: 50%;
            padding: 4px;
        }
        input[type="password"]::-ms-reveal {
            filter: invert(1); /* invierte colores */
        }
        input[type="date"]::-webkit-password {
            filter: invert(1);
            border-radius: 50%;
            padding: 4px;
        }
        button{
            border: none;
            width: 15dvh;
            height: 5dvh;
            transition: background-color 0.3s ease;
        }
        button:hover{
            cursor:pointer;
        }

}
.button_login{
    opacity: 0.8;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.8);
    font-family: 'Poppins';
}
.button_login:hover{
    color: white;
    background: rgba(0, 0, 0, 1);
    transition: color 0.3 ease;
}
.button_register{
    color: whitesmoke;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.8);
    font-family: 'Poppins';
}
.button_register:hover{
    color: white;
    background: rgba(0, 0, 0, 1);
    transition: color 0.3 ease;
}
.login_deco_box{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 3px;
    color: whitesmoke;
        p{
            font-family: 'Poppins';
        }
}
/* Mobile Login */

/* Cuando haya mas de 1000px (vista desktop) */

@media (min-width: 1000px) {
    .login-button { 
        width: 60%;
    }
    .user-list-button {
        width: 25%;
    }
    .no-account-button {
        width: 15%;
    }
}

/* Cuando haya menos de 1000px (vista tablet) */

@media (max-width: 1000px) {
    .login-button { 
        width: 60%;
    }
    .user-list-button {
        width: 40%;
    }
    .no-account-button {
        width: 15%;
    }
}

/* cuando haya menos de 600px (vista mobile) */

@media (max-width: 600px) {
    .login-button { 
        width: auto;
    }
    .user-list-button {
        width: auto;
    }
    .no-account-button {
        width: auto;
    }
}


/*  Register  */

.buttons-register{
    border-radius: 20px;
    width: 100%;
    height: 35%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 4rem 3rem 4rem;
    box-sizing: border-box;
}


.userlist-register-buttons {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.register-button {
    height: 30%;
    align-self: flex-start;
    font-size: 1.25rem;
    border-radius: 5px;
    border: 2px solid black;
}
.register-button:hover {
    opacity: 80%;
}

.already-account-button {
    width: 15%;
    align-self: flex-end;
    justify-self: flex-start;
    border: 2px solid black;
    border-radius: 5px;
}
.already-account-button:hover {
    opacity: 80%;
}

.inputs-register{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 65%;
    box-sizing: border-box;
    gap: 10px;
    padding: 3rem;
    padding-bottom: 0;
    input{
        border-radius: 7px;
        border: 2px solid black;
        width: 50%;
        height: 20%;
        font-size: 2rem;
        text-align: center;
    }
    input:hover {
        opacity: 95%;
    }
    select {
        width: 10rem;
        height: 3rem;
        border: 2px solid black;
        border-radius: 5px;
    }
}

.register-box {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #444;
}

.sectionReg1{
    width: 100%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Mobile Register */

/* Cuando haya mas de 1000px (vista desktop) */

@media (min-width: 1000px) {
    .sectionReg1 {
        height: 80vh;
    }
    .register-button {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .sectionReg1 {
        height: 80vh;
    }
    .register-button {
        width: 60%;
    }
    .already-account-button {
        width: 30%;
        height: 2rem;
    }
}

@media (max-width: 600px) {
    .sectionReg1 {
        height: 100vh;
    }
    .register-button {
        width: auto;
    }
    .already-account-button {
        width: auto;
        height: auto;
    }
    .inputs-register {
        input {
            width: 100%;
        }
    }
}

/* Animaciones */

.fade-in2 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.fade-in2.visible {
    opacity: 1;
    transform: translateY(0);
}
.fade-in3 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1.5s ease;
}
.fade-in3.visible {
    opacity: 1;
    transform: translateY(0);
}
.fade-in4 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 2s ease;
}
.fade-in4.visible {
    opacity: 1;
    transform: translateY(0);
    
}
.slide-in-R {
    opacity: 0;
    animation: slideIn 0.2s ease-out forwards;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.slide-in-R.visible{
    opacity: 1;
    transform: translateX(0);
    
}
.slide-in-L {
    opacity: 0;
    animation: slideIn 0.2s ease-out forwards;
    transform: translateX(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.slide-in-L.visible{
    opacity: 1;
    transform: translateX(0);
    
}
.scale-in {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.8s ease;    
}
.scale-in.visible{
    opacity: 1;
    transform: translateX(0);
    
}
.fade-in {
    animation: fadeIn 0.7s ease-out forwards;
}

@keyframes fadeIn {
    from {
    transform: translateY(20px);
    opacity: 0;
    }
    to {
    transform: translateY(0);
    opacity: 1;
    }
}
@keyframes slideIn {
    from {
    transform: translateX(-100px);
    opacity: 0;
    }
    to {
    transform: translateX(0);
    opacity: 1;
    }
} 
.slide-in {
    animation: slideIn 0.5s ease-out forwards;
}

.box {
    width: 80%;
    margin: 150vh auto;
    padding: 50px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.Alinvtitulo{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    h1{
        margin-top: 10vh;
        text-align: center;
    }
}

/*crear formulario*/
.formularios{
    background-color: aliceblue;
    border-radius: 2rem;
    margin-top: 6%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    input{
        margin-top: 0%;
        background-color: white;
    }
    select{
        margin-top: 0%;
        background-color: white;
    }
    button{
        width: 60%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 8%;
        margin-bottom: 7%;
        background-color: white;
    }
    p{
        margin-top: 6%;
        margin-bottom: 0%;
    }

}
.formulariodiv1{
    display:flex;
    flex-direction: row;
    div{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    input{
        margin-left: 10%;
        margin-right: 10%;
    }
    select{
        margin-left: 10%;
        margin-right: 10%;
    }
}
.formulariodiv2{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
}